{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      <form class="form" action="/high-cost" method="post">

        <p>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Is your property domestic or non-domestic?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="domestic" name="domestic" type="radio" value="domestic">
                  <label class="govuk-label govuk-radios__label" for="domestic">
                    Domestic
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="non-domestic" name="domestic" type="radio" value="non-domestic">
                  <label class="govuk-label govuk-radios__label" for="non-domestic">
                    Non-domestic
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
