{% extends "layouts/main.html" %}

{% block pageTitle %}
  What you will need – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
     What you will need
      </h1>

     
      <form class="form" action="property-address" method="post">

        <p>
          You have selected the "All improvements made or price cap met" exemption.  To register this exemption, you must provide:        
        </p>
        <ul>
          <li>the current Energy Performance Certificate (EPC) for the property or  an equivalent report that sets out any energy
            efficiency improvement recommendations, such as a surveyor report or a Green deal report</li>
          <li>details of the recommended energy efficiency improvements made, including date of installation</li>
                <li>receipts or evidence of work completed adding up to £3500</li>
          
        </ul>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Save and come back later</a>
      </p>
    </div>
  </div>

{% endblock %}
