{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check your answers before submitting your application</h1>

    <h2 class="govuk-heading-m">Landlord details</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Is the landlord an organisation or a person"
          },
          value: {
            text: "Person"
          },
          actions: {
            items: [
              {
                href: "landlord-type",
                text: "Change",
                visuallyHiddenText: "landlord type"
              }
            ]
          }
        },
        {
          key: {
            text: "Landlord's details"
          },
          value: {
            html: "John Doe<br>john@example.com<br>01234567890"
          },
          actions: {
            items: [
              {
                href: "landlord-details-individual",
                text: "Change",
                visuallyHiddenText: "landlord's details"
              }
            ]
          }
        },
        {
          key: {
            text: "Landlord's address"
          },
          value: {
            html: "1 Washington Street<br>Worcester<br>WR11NL"
          },
          actions: {
            items: [
              {
                href: "landlords-address",
                text: "Change",
                visuallyHiddenText: "landlord's address"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Property details</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Is your property domestic or non-domestic"
          },
          value: {
            text: "Domestic"
          },
          actions: {
            items: [
              {
                href: "property-type",
                text: "Change",
                visuallyHiddenText: "property type"
              }
            ]
          }
        },
        {
          key: {
            text: "Which exemption applies to your property"
          },
          value: {
            text: "All improvements made or price cap reached"
          },
          actions: {
            items: [
              {
                href: "all-exemptions-domestic",
                text: "Change",
                visuallyHiddenText: "exemption type"
              }
            ]
          }
        },
        {
          key: {
            text: "Address of the property"
          },
          value: {
            html: "1 Washington Street<br>Worcester<br>WR11NL"
          },
          actions: {
            items: [
              {
                href: "property-address",
                text: "Change",
                visuallyHiddenText: "property address"
              }
            ]
          }
        }
      ]
    }) }}



<h2 class="govuk-heading-m">Energy Performance Certificate and exemption evidence</h2>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Upload your EPC"
      },
      value: {
        text: "EPC certificate.pdf"
      },
      actions: {
        items: [
          {
            href: "epc-upload",
            text: "Change",
            visuallyHiddenText: "epc upload"
          }
        ]
      }
    },
    {
      key: {
        text: "Upload your evidence"
      },
      value: {
        html: "Invoice1.doc<br>Invoice2.doc<br>Invoice3.doc"
      },
      actions: {
        items: [
          {
            href: "evidence-upload",
            text: "Change",
            visuallyHiddenText: "upload evidence"
          }
        ]
      }
    },
    {
      key: {
        text: "Details of improvements made"
      },
      value: {
        html: "Somedetail.pdf<br>Someexplanation.doc<br>Somethingimportant.pdf"
      },
      actions: {
        items: [
          {
            href: "detail-improvement",
            text: "Change",
            visuallyHiddenText: "details of improvements"
          }
        ]
      }
    }
  ]
}) }}

    <form action="confirmation-page" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      {{ govukButton({
        text: "Submit exemption registration"
      }) }}
    </form>

  </div>
</div>
{% endblock %}