{% extends "layouts/main.html" %}

{% block pageTitle %}
  Details of improvements made – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     
      <form class="form" action="check-answers1" method="post">

        <p>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                 Details of improvements already made
                </h1>
              </legend>
             
 <div id="more-detail-hint" class="govuk-hint">
  <p> Tell us about all the improvements recommended in the property's EPC report that have already been made. 
    You should include details of what type of improvement it was and when it was installed.</p>
  <p> 
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

        <p>You can also upload a document that shows this information (optional). <br>
          Files must be either png, pdf, jpg, jpeg, doc or docx and no more than 10MB.
        <div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    Upload a file
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
</div>
              </div>
            </fieldset>
          </div>
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Save and come back later</a>
      </p>
    </div>
  </div>

{% endblock %}
