{% extends "layouts/main.html" %}

{% block pageTitle %}
Upload evidence – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
 {{ govukBackLink({
 text: "Back",
 href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="detail-improvement" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Upload evidence of your exemption
            </h1>
          </legend>
          <div id="changedName-hint" class="govuk-hint">
            <p>You must provide the evidence required for the exemption being registered. </p>
              <p> As you are registering an "All improvements made or price cap met" exemption, you must provide:
               <ul>
                <li>details of the recommended energy efficiency improvements made, including date of installation</li>
                <li>receipts or evidence of work completed adding up to £3500</li>
               </ul>
            </p>
            <p>You can upload up to 20 files. Each file must be no more than 10MB.</p>
            <p>Files must be in one of these formats: png, pdf, jpg, jpeg, doc or docx.</p>
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
              Upload a file
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    <p class="govuk-body">
      <a href="#" class="govuk-link">Save and come back later</a>
    </p>
  </div>
</div>
{% endblock %}
