{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You do not need to register an exemption
      </h1>

      <p>
        Based on the answers that you've provided, the property is not required to meet the 
        <a href="https://www.gov.uk/guidance/domestic-private-rented-property-minimum-energy-efficiency-standard-landlord-guidance">Minimum Energy Efficiency Standard (MEES) Regulations</a>.
      </p>
      <p>As these regulations do not apply to your property, you do not need to register an exemption.</p>
      
      <p>
        Read more <a href="https://www.gov.uk/improve-energy-efficiency">saving energy in your home, including grants available</a>.
      </p>

    </div>
  </div>

{% endblock %}
