{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "You have told us that an exemption applies to your property.",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p>
        For any exemption, you must provide: 
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>address of the property</li>
        <li>type of exemption you are registering</li>
        <li>URL or copy of a valid EPC for the property</li>
      </ul>

      <p>
        When registering, you will be asked to select the most relevant exemption for your property. The exemption specific evidence that you will need to submit when registering your exemption is: 
      </p>


      <h2 class="govuk-heading-m">
        New landlord exemption
      </h2>

      <p>
        You must also provide:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the date you became the landlord</li>
        <li>details of which qualifying circumstances apply</li>
      </ul>
      <p>
        You can read <a href=" https://www.gov.uk/government/publications/private-rented-sector-minimum-energy-efficiency-standard-exemptions/guidance-on-prs-exemptions-and-exemptions-register-evidence-requirements#new-landlord-exemption"> the qualifying circumstances for new landlords. </a>
     
      </p>
      <p>
        This exemption is valid for 6 months from the date you became a landlord.
      </p>

      <h2 class="govuk-heading-m">Email this to me</h2>

<form class="form" action="/send-email" method="post">
  {{ govukInput({
    label: {
      text: "Email address",
      classes: "govuk-label--s"
    },
    id: "email",
    name: "email",
    type: "email",
    autocomplete: "email",
    spellcheck: false
  }) }}

  {{ govukButton({
    text: "Send email",
    classes: "govuk-button--secondary"
  }) }}
</form>

<button class="govuk-button" data-module="govuk-button" onclick="returnToRegisterExemption()">
  Close and return to register exemption page
</button>

<script>
function returnToRegisterExemption() {
  window.location.href = 'start';
}
</script>

      <p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
