{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Private rented sector (PRS) exemptions register
      </h1>
      <p>Guidance on the exemptions register for all private rented properties that cannot comply with the 2018 ‘Minimum Level of Energy Efficiency’ standard (EPC band E).</p>
      <p><a href="https://www.gov.uk/guidance/domestic-private-rented-property-minimum-energy-efficiency-standard-landlord-guidance#find-out-if-your-property-is-covered-by-the-regulations">Find out if your property is covered by the Regulations</a></p>
      <p>This page applies to both domestic and non-domestic private rented properties in England and Wales. You only need to apply for an exemption if your property is covered by the Domestic Minimum Energy Efficiency Standard (MEES) Regulations. Find out more about these regulations for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/guidance/domestic-private-rented-property-minimum-energy-efficiency-standard-landlord-guidance">Domestic properties</a></li>
        <li><a href="https://www.gov.uk/guidance/non-domestic-private-rented-property-minimum-energy-efficiency-standard-landlord-guidance">Non-domestic properties</a></li>
      </ul>
      <h2 class="govuk-heading-m">
        Check the exemption register for a property
      </h2>
      <p>You can search the register for details of exempt properties: 
       <a href="https://prsregister.beis.gov.uk/NdsBeisUi/register-search-exemptions">Check the exemptions register. </a> </p>
      
       <h2 class="govuk-heading-m">
        Understand what evidence you will need
      </h2>
      <p>There are various exemptions that apply to the prohibition on letting a property with an energy efficiency rating below E. 
        Information required for all exemptions:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>address of the property)</li>
          <li>type of exemption you are registering</li>
          <li>copy of a valid EPC for the property</li>
        </ul>

        <p>You will also need to provide exemption specific evidence. 

          This evidence checker helps to identify what evidence you need to provide when registering an exemption.  
          </p>
          {{ govukButton({
            text: "Check what evidence is needed for PRS exemption",
            href: "domestic.html",
            isStartButton: true
          }) }}
          <!--{button start}[Check what evidence is needed for PRS exemption](evidence checker link){/button}-->
         
          <p>You can also read <a href="https://www.gov.uk/government/publications/private-rented-sector-minimum-energy-efficiency-standard-exemptions/guidance-on-prs-exemptions-and-exemptions-register-evidence-requirements#new-landlord-exemption"> detailed guidance on the exemptions and evidence required.</a>  </p>

       <h2 class="govuk-heading-m">
        Registering an exemption
      </h2>

      <p>If your property meets the criteria for any of the exemptions, you will be able to let it once you have registered the exemption on the PRS Exemptions Register.</p>
      <p>You can use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>register an exemption</li>
        <li>manage existing exemptions</li>
      </ul>
      <h3 class="govuk-heading-s">Before you start</h3>
      <p>You will be asked to create an account as a landlord or agent, if you do not already have an account.</p>

      <p>Before you apply, make sure you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have details of the property (address and type of property)</li>
        <li>understand which type of exemption you want to register</li>
        <li>the evidence required for that exemption (see evidence checker or guidance)</li>
      </ul>

      <p>You should be aware that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you cannot amend the evidence and exemption data once you have submitted the application</li>
        <li>the exemption applies immediately once you have registered</li>
        <li>you cannot submit more than 10 documents as evidence - each document must be no larger than 4MB</li>
        <li>documents can be in the formats pdf, png, jpg, jpeg, doc or docx </li>
      </ul>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          You can be fined up to £1,000 if you provide false or misleading information.
        </strong>
      </div>
      {{ govukButton({
        text: "Register an exemption",
        href: "https://prsregister.beis.gov.uk/NdsBeisUi/used-service-before",
        isStartButton: true
      }) }}
      <!--{button start}[Register an exemption](https://prsregister.beis.gov.uk/NdsBeisUi/used-service-before){/button}-->
     

      <h3 class="govuk-heading-s">Assisted digital support to register an exemption</h3>
      <p>If you need assisted digital support to register an exemption please get in touch by <a href="mailto:esnz@cust-serv-details.com">email: esnz@cust-serv-details.com</a> or call the digital helpline on 0800 098 7950.</p>
      <p>
        The Assisted Digital service provides digital support in lodging an exemption on the register. The service is not able to provide advice on whether individual properties meet the criteria for an exemption.</a>.
      </p>
      <h2 class="govuk-heading-m">
        Enforcement and penalties
      </h2>

      <p>
        The MEES Regulations are enforced by local authorities, who have a range of powers to check and ensure compliance. Find out more about how these regulations are enforced for:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Domestic properties</a></li>
        <li><a href="#">Non-domestic properties</a></li>
      </ul>
     

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
