{% extends "layouts/main.html" %}

{% block pageTitle %}
  PRS exemptions portal – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your expemption registrations
      </h1>

      <p>
        Your account holds all the exemptions that you have registered. 
      </p>

      <div class="govuk-inset-text">
        <p> You should make sure you read the guidance before registering your exemption.</p>
          <p>You can save your progress and return later via this portal. </p>
            <p>The exemption details will be logged onto the register as soon as you submit it. </p>
              <p>Enforcing authorities will have access to the register to allow them to check the details you have provided.</p>
                <p>As this is a self-certification register, you do no tneed to do anything else. The Enforcing Authority will only contact you if they have a query about the exemption you have registered.</p>
                  <p> We will send you a notification 28 days before your exemption expires. </p>
      </div>
      <a href="landlord-type" role="button" draggable="false" class="govuk-button" data-module="govuk-button"> Register a new exemption </a>
     <p><a href="#" class="govuk-link">Find out more about exemptions (opens in a new window) </a></p> 
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
             In progress
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
              Current exemptions
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-month">
              Expired exemptions
            </a>
          </li>
          
        </ul>
        <div class="govuk-tabs__panel" id="past-day">
          <h2 class="govuk-heading-l">In progress</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Address</th>
                <th scope="col" class="govuk-table__header">Date added</th>
                <th scope="col" class="govuk-table__header">Action</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">13 Markenfield Road</td>
                <td class="govuk-table__cell">03 May 2024</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Resume</a></td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Delete</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">111 Graham Road</td>
                <td class="govuk-table__cell">03 July 2024</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Resume</a></td>
                <td class="govuk-table__cell"><a href="#" class="govuk-link">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
          <h2 class="govuk-heading-l">Current exemptions</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Address</th>
                <th scope="col" class="govuk-table__header">Expiry date</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">1 Station Road</td>
                <td class="govuk-table__cell">03 August 2024</td>
                <td class="govuk-table__cell">View evidence</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">33 Gavon Road</td>
                <td class="govuk-table__cell">03 July 2025</td>
                <td class="govuk-table__cell">View evidence</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">66 Brighton road</td>
                <td class="govuk-table__cell">20 July 2025</td>
                <td class="govuk-table__cell">View evidence</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
          <h2 class="govuk-heading-l">Expired exemptions</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Address</th>
                <th scope="col" class="govuk-table__header">Expiry date</th>
                <th scope="col" class="govuk-table__header">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">33 Stanstead Road</td>
                <td class="govuk-table__cell">03 March 2024</td>
                <td class="govuk-table__cell">View evidence</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">16 Manor Road</td>
                <td class="govuk-table__cell">02 July 2024</td>
                <td class="govuk-table__cell">View evidence</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
          <h2 class="govuk-heading-l">Past year</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Case manager</th>
                <th scope="col" class="govuk-table__header">Cases opened</th>
                <th scope="col" class="govuk-table__header">Cases closed</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">David Francis</td>
                <td class="govuk-table__cell">1380</td>
                <td class="govuk-table__cell">1472</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Paul Farmer</td>
                <td class="govuk-table__cell">1129</td>
                <td class="govuk-table__cell">1083</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rita Patel</td>
                <td class="govuk-table__cell">1539</td>
                <td class="govuk-table__cell">1265</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
    </div>
  </div>

{% endblock %}
